<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/">Kakeibo</a> 
    {% comment %} 家計簿ソフト {% endcomment %}
    <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'kakeibo:payment_list'%}">
            <i class="fas fa-money-check"></i>
            Payments
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'kakeibo:income_list'%}">
            <i class="fas fa-hand-holding-usd"></i>
            Incomes
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'kakeibo:asset_list'%}">
            <i class="fas fa-coins"></i>
            Assets
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'kakeibo:monthly_balance' now_year now_month%}">
            <i class="fas fa-chart-pie"></i>
            Monthly Balance
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'kakeibo:balance_transition' %}">
            <i class="fas fa-chart-line"></i>
            Balance Transition
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'kakeibo:asset_dashboard' now_year now_month %}">
            <i class="fas fa-tachometer-alt"></i>
            Asset Dashboard
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'user:logout' %}">
            <i class="fas fa-sign-out-alt"></i>
            Logout
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
