<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <title>Register Page</title>
  <link rel="stylesheet" href="../../static/kakeibo/css/style.css">
</head>
<style>
  .form-group {
    margin-top: 10px;
  }
</style>

<body>

  {% if messages %}
  <div class="alert alert-warning alert-dismissible fade show js-alert" role="alert">
    {% for message in messages %}
    <p> {{ message|linebreaks }}</p>
    {% endfor %}
    <button type="button" class="btn-close js-alert-close" data-dismiss="alert" aria-label="Close">
    </button>
  </div>
  {% endif %}
  {% block content %}

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

  {% endblock content %}
  <script>
    for (const element of document.querySelectorAll('.js-alert > .js-alert-close')) {
      element.addEventListener('click', e => {
        console.log(e.target);
        e.target.parentElement.classList.add('is-hidden');
      });
    }

  </script>
</body>

</html>